<p id="notice"><%= notice %></p>

<p>
  <strong>Ingamedeck:</strong>
  <%= @inventory.ingamedeck_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @inventory.player_id %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
