<p id="notice"><%= notice %></p>

<h1>Monstertwos</h1>

<table>
  <thead>
    <tr>
      <th>Ingamedeck</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monstertwos.each do |monstertwo| %>
      <tr>
        <td><%= monstertwo.ingamedeck_id %></td>
        <td><%= monstertwo.player_id %></td>
        <td><%= link_to 'Show', monstertwo %></td>
        <td><%= link_to 'Edit', edit_monstertwo_path(monstertwo) %></td>
        <td><%= link_to 'Destroy', monstertwo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monstertwo', new_monstertwo_path %>
