<p id="notice"><%= notice %></p>

<p>
  <strong>Ingamedeck:</strong>
  <%= @monstertwo.ingamedeck_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @monstertwo.player_id %>
</p>

<%= link_to 'Edit', edit_monstertwo_path(@monstertwo) %> |
<%= link_to 'Back', monstertwos_path %>
