<p id="notice"><%= notice %></p>

<h1>Graveyards</h1>

<table>
  <thead>
    <tr>
      <th>Gameboard</th>
      <th>Ingamedeck</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graveyards.each do |graveyard| %>
      <tr>
        <td><%= graveyard.gameboard_id %></td>
        <td><%= graveyard.ingamedeck_id %></td>
        <td><%= link_to 'Show', graveyard %></td>
        <td><%= link_to 'Edit', edit_graveyard_path(graveyard) %></td>
        <td><%= link_to 'Destroy', graveyard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graveyard', new_graveyard_path %>
