<p id="notice"><%= notice %></p>

<p>
  <strong>Gameboard:</strong>
  <%= @graveyard.gameboard_id %>
</p>

<p>
  <strong>Ingamedeck:</strong>
  <%= @graveyard.ingamedeck_id %>
</p>

<%= link_to 'Edit', edit_graveyard_path(@graveyard) %> |
<%= link_to 'Back', graveyards_path %>
