<p id="notice"><%= notice %></p>

<h1>Monsterthrees</h1>

<table>
  <thead>
    <tr>
      <th>Ingamedeck</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsterthrees.each do |monsterthree| %>
      <tr>
        <td><%= monsterthree.ingamedeck_id %></td>
        <td><%= monsterthree.player_id %></td>
        <td><%= link_to 'Show', monsterthree %></td>
        <td><%= link_to 'Edit', edit_monsterthree_path(monsterthree) %></td>
        <td><%= link_to 'Destroy', monsterthree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monsterthree', new_monsterthree_path %>
