<p id="notice"><%= notice %></p>

<p>
  <strong>Ingamedeck:</strong>
  <%= @monsterthree.ingamedeck_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @monsterthree.player_id %>
</p>

<%= link_to 'Edit', edit_monsterthree_path(@monsterthree) %> |
<%= link_to 'Back', monsterthrees_path %>
