<p id="notice"><%= notice %></p>

<h1>Interceptcards</h1>

<table>
  <thead>
    <tr>
      <th>Gameboard</th>
      <th>Ingamedeck</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interceptcards.each do |interceptcard| %>
      <tr>
        <td><%= interceptcard.gameboard_id %></td>
        <td><%= interceptcard.ingamedeck_id %></td>
        <td><%= link_to 'Show', interceptcard %></td>
        <td><%= link_to 'Edit', edit_interceptcard_path(interceptcard) %></td>
        <td><%= link_to 'Destroy', interceptcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interceptcard', new_interceptcard_path %>
