<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @player.avatar %>
</p>

<p>
  <strong>Level:</strong>
  <%= @player.level %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @player.attack %>
</p>

<p>
  <strong>Is cursed:</strong>
  <%= @player.is_cursed %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @player.belongs_to %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
