<%= form_with(model: gameboard) do |form| %>
  <% if gameboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gameboard.errors.count, "error") %> prohibited this gameboard from being saved:</h2>

      <ul>
        <% gameboard.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :current_state %>
    <%= form.text_field :current_state %>
  </div>

  <div class="field">
    <%= form.label :player_atk %>
    <%= form.number_field :player_atk %>
  </div>

  <div class="field">
    <%= form.label :monster_atk %>
    <%= form.number_field :monster_atk %>
  </div>

  <div class="field">
    <%= form.label :asked_help %>
    <%= form.check_box :asked_help %>
  </div>

  <div class="field">
    <%= form.label :success %>
    <%= form.check_box :success %>
  </div>

  <div class="field">
    <%= form.label :can_flee %>
    <%= form.check_box :can_flee %>
  </div>

  <div class="field">
    <%= form.label :shared_reward %>
    <%= form.number_field :shared_reward %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
