<p id="notice"><%= notice %></p>

<h1>Gameboards</h1>

<table>
  <thead>
    <tr>
      <th>Current state</th>
      <th>Player atk</th>
      <th>Monster atk</th>
      <th>Asked help</th>
      <th>Success</th>
      <th>Can flee</th>
      <th>Shared reward</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gameboards.each do |gameboard| %>
      <tr>
        <td><%= gameboard.current_state %></td>
        <td><%= gameboard.player_atk %></td>
        <td><%= gameboard.monster_atk %></td>
        <td><%= gameboard.asked_help %></td>
        <td><%= gameboard.success %></td>
        <td><%= gameboard.can_flee %></td>
        <td><%= gameboard.shared_reward %></td>
        <td><%= link_to 'Show', gameboard %></td>
        <td><%= link_to 'Edit', edit_gameboard_path(gameboard) %></td>
        <td><%= link_to 'Destroy', gameboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gameboard', new_gameboard_path %>
