<p id="notice"><%= notice %></p>

<h1>Handcards</h1>

<table>
  <thead>
    <tr>
      <th>Ingamedeck</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @handcards.each do |handcard| %>
      <tr>
        <td><%= handcard.ingamedeck_id %></td>
        <td><%= handcard.player_id %></td>
        <td><%= link_to 'Show', handcard %></td>
        <td><%= link_to 'Edit', edit_handcard_path(handcard) %></td>
        <td><%= link_to 'Destroy', handcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Handcard', new_handcard_path %>
