<%= form_with(model: playercurse) do |form| %>
  <% if playercurse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(playercurse.errors.count, "error") %> prohibited this playercurse from being saved:</h2>

      <ul>
        <% playercurse.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ingamedeck_id %>
    <%= form.text_field :ingamedeck_id %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
