<%= form_with(model: ingamedeck) do |form| %>
  <% if ingamedeck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingamedeck.errors.count, "error") %> prohibited this ingamedeck from being saved:</h2>

      <ul>
        <% ingamedeck.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :card_id %>
    <%= form.text_field :card_id %>
  </div>

  <div class="field">
    <%= form.label :gameboard_id %>
    <%= form.text_field :gameboard_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
