<p id="notice"><%= notice %></p>

<h1>Ingamedecks</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Gameboard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingamedecks.each do |ingamedeck| %>
      <tr>
        <td><%= ingamedeck.card_id %></td>
        <td><%= ingamedeck.gameboard_id %></td>
        <td><%= link_to 'Show', ingamedeck %></td>
        <td><%= link_to 'Edit', edit_ingamedeck_path(ingamedeck) %></td>
        <td><%= link_to 'Destroy', ingamedeck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingamedeck', new_ingamedeck_path %>
